*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(203, 221, 209);
  margin: 0px;
  padding:0px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: bisque;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(16, 16, 140);
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  border-radius: 15px;
  margin-left: 40px;
}

li a:hover {
  background-color: black;
  color: bisque
}

.container {
  max-width: 1100px; 
  margin: 4rem auto;
  display: flex;
}

.logo2 {
margin-left: 55px ;
width: 200pxpx;

}

.main {
  display: flex;
  margin-left: 80px;
}

.main-sub {
 
  float: left;
  margin-left: 80px;
  width: 1500px;

}

.m-form {
  width: 360px;
  height: 560px;
  background-color: bisque;
  margin-top: 150px;
  margin-left: 195px;
  margin-bottom: 150px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 40px;
  padding-top: 40px;
}
.g-form {
  width: 360px;
  height: 560px;
  background-color: rgb(229, 254, 237);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  padding-top: 50px;
  margin-top: 25px;
  margin-left: 200px;
  
}

.add-form input {
  float: right;
}

.g-thankyou {
  margin-left: 50px;
  padding-top: 25px;
  width: 400px;
  color: rgb(16, 16, 140);
}

.wishes {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 4rem 0;
}

.wish {
  display: flexbox;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 50px;
  border: solid 3px rgb(29, 217, 208);
  text-decoration: none;
  color: bisque;
  width: 400px;
  height: 300px;
  box-shadow: 0 20px 8px 0 black; 
  transition: 0.3s;
  text-align: center;
  background-color: rgb(64, 134, 124);
} 

.admin-form {
  text-align: inherit;
  font-size: small;
}

footer {
  width: 300px;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-style:oblique;
  text-decoration: none;
  margin-left: 800px;
}

.logo-footer-image {
  width: 100px;
  height: 100px;
}

.StatusBox {
margin-right: 130px; 
size: 150px; 
/* visibility: hidden; */
}

.field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 9;
  font-family: "Roboto", sans-serif;
}
.grant {
  width: 15%;
  position: relative;
  vertical-align: baseline;
  border-radius: 45%;
  background-color: bisque;
  font-weight: bold;
  padding-block: 4pt;
  
}

.embed-video-responsive {
  margin-left: 500px;
  padding-top: 30px;
}